@use '../../styles/main.scss';

.container {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: main.$border-radius-card;
  box-shadow: main.$shadow-card;
}
