@use '../../styles/main';

.container {
  height: fit-content;
  display: flex;
  background: #606c38;
  color: #fcf5ee;
  border-radius: 25px;
  box-shadow: main.$shadow-card;
}

.container-text {
  padding: 30px;
  width: 70%;
  span {
    margin-top: 20px;
  }
}

.img-banner {
  width: 200px;
  height: 200px;
  margin: 15px 0 0;
}
