.container {
  width: 90%;
  margin-top: 30px;
}

.container-recipe {
  padding: 20px;
}

.container-header {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 15px;
  svg {
    width: 100px;
    height: 100px;
  }
}

.container-nutritional-values {
  display: flex;
  gap: 5%;
}

.container-details {
  display: flex;
  gap: 20px;
}

.container-ingredients {
  width: 50%;
  p {
    overflow-wrap: break-word;
  }
}

.container-preparation {
  width: 50%;
  p {
    overflow-wrap: break-word;
  }
}
